@model Blog

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <!-- Blog detayı -->
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/assets/images/blog-post-02.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <span>@Model.Category.Name</span>
                                    <a asp-controller="Blogs"
                                       asp-action="Detail"
                                       asp-route-id="@Model.Id">
                                        <h4>@Model.Title</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li>@Model.CreatedOn.ToLocalTime()</li>
                                        <li>@Model.Comments.Count Comments</li>
                                    </ul>
                                    <p>@Model.Post</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                @await Component.InvokeAsync("BlogTags", new { id = Model.Id })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Blog yorumları -->
                        <div class="col-lg-12">
                            @await Component.InvokeAsync("BlogComments", new { id = Model.Id })
                        </div>

                        <!-- Yorum ekleme formu -->
                        <div class="col-lg-12">
                            <partial name="_CommentAdd" model="new Comment { BlogId = Model.Id }" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</section>
