@model List<Blog>

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            @foreach (Blog item in Model)
            {
                <div class="item">
                    <img src="@(string.IsNullOrEmpty(item.ImageUrl) ? "~/assets/images/banner-item-01.jpg" : item.ImageUrl)" alt="@item.Title">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>
                                    @item.Category?.Name
                                </span>
                            </div>
                            <a asp-controller="Blogs"
                               asp-action="Detail"
                               asp-route-id="@item.Id">
                                <h4>
                                    @item.Title
                                </h4>
                            </a>
                            <ul class="post-info">
                                <li>
                                    <a href="#">
                                        @item.CreatedOn.ToLocalTime().ToString("MMMM dd, yyyy")
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        @(item.Comments?.Count ?? 0) Comments
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>